/* (A) THUMBNAILS */
.gallery {
  display: grid;
  grid-template-columns: repeat(3, auto); /* 3 ITEMS PER ROW */
  grid-gap: 10px;
  max-width: 1200px;
  margin: 0 auto; /* HORIZONTAL CENTER */
}
.gallery img {
  width: 100%;
  height: 200px;
  /* FILL, CONTAIN, COVER, SCALE-DOWN : USE WHICHEVER YOU LIKE */
  object-fit: cover;
}

/* (B) RESPONSIVE - MOBILE FRIENDLY */
@media screen and (max-width: 640px) {
  .gallery {
    grid-template-columns: repeat(2, auto); /* 2 ITEMS PER ROW */
  }
}

/* (X) DOES NOT MATTER */
body,
html {
  padding: 25px 20px;
  margin: 0;
}
h1 {
  font-size: 80px;
  font-weight: normal;
  text-align: center;
  color: black;
  text-shadow: 2px 2px #262626;
  font-variant: small-caps;
}
h3 {
  text-align: justify;
  font-size: 20px;
  font-weight: normal;
  color: #83c9d4;
  text-shadow: 1px 1px #3b5278;
}
